
/**
 * Colfax font
 * TODO: Change to actual Colfax webfont
**/
@font-face {
  font-family: "Colfax Light";
  src: url('/fonts/ColfaxWebLight.eot');
  src:
      url('/fonts/ColfaxWebLight.eot?iefix') format('eot'),
      url('/fonts/ColfaxWebLight.woff') format('woff');
}

//@font-face {
//  font-family: "Colfax Light";
//  src: local("Chrono-LightItalic");
//  font-style: italic;
//}
//
//@font-face {
//  font-family: "Colfax Light";
//  src: local("Chrono-Book");
//  font-weight: bold;
//}
//
//@font-face {
//  font-family: "Colfax Light";
//  src: local("Chrono-BookItalic");
//  font-weight: bold;
//  font-style: italic;
//}

@font-face {
  font-family: "Colfax Regular";
  src: url('/fonts/ColfaxWebRegular.eot');
  src:
    url('/fonts/ColfaxWebRegular.eot?iefix') format('eot'),
    url('/fonts/ColfaxWebRegular.woff') format('woff');
}

/**
 * Sentinel font
 * TODO: Change to actual Sentinel webfont
**/
@font-face {
  font-family: "Sentinel";
  src: local("Sentinel-Black");
}

@font-face {
  font-family: "Sentinel";
  src: local("Sentinel-BlackItalic");
  font-style: italic;
}