#hero {

  .item {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: 300px;
    width: 100%;
    background-color: $lightGray;

    .wrap {
      width: 80%;
    }

    h2 {
      display: inline;
      background-color: rgba($blue, .85);
      color: $white;
      font-weight: 300;
      line-height: 1.25;
    }

    p {
      display: inline-block;
      font-size: 1.3rem;
      line-height: 2rem;
      margin: .1rem 0;
      padding: .3rem 1rem;
      color: $white;
      background-color: rgba(#aaa, .85);

      a {
        color: $white;
        font-size: 2.5rem;
        position: relative; 
        top: .35rem;
        padding: 0 .5rem;
      }
    }
  }

  .dark-bg {
    padding-bottom: 70px;
  }
}

#how-were-different {

  .item {

    margin-bottom: 80px;

    .number {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    h2 {
      margin-bottom: 40px;
    }
  }

}

#what-we-do {
  padding-bottom: 3rem;
}

#how-we-do-it {
  padding-bottom: 60px;

  p {
    margin-bottom: 4em;
  }
  
  .number {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 24px;
  }
}

#who-we-are {
  .col {
     
    img {
      height: 220px;
     }

    h4 {
      margin-top: 1rem;
    }
    
    p {
      margin-bottom: 4em;
    }

    .role {
      font-size: 1.3rem;
      margin: 0 0 2rem;
    }
  }
}

#what-we-think {
  padding-bottom: 3rem;

  .by-line {
    margin: 25px 0 20px;
  }

  .plus {
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    display: block;
    background: url(/images/icon-plus.png) 0 0 no-repeat;
    background-size: cover;
  }
  
  .top-line {
    &.white {
      margin-top: 2em;
    }
  }
}

#who-we-toil-for {
  .client-logos {
    margin-bottom: 80px;
    img {
      width: 100%;
      max-width: 100%;
    }
  }
}

#our-studio {
  position: relative;

  .video-holder {
    display: none;
  }
  
  .floater {
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .container {
    position: relative;
  }

}

.no-touch #our-studio {

  .static-image-holder {
    display: none;
  }

  .floater {
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .container {
    position: relative;
  }

  .blocker {
    position: absolute;
    z-index: 1;
    background: rgba(#333333, .4);
    height: 100%;
    width: 100%;
    top: 0;
  }

}

.no-touch #our-studio {

  .static-image-holder {
    display: none;
  }

  .video-holder {
    display: block;

    video {
      display: block;
    }
    .vjs-big-play-button {
      top: 50%;
      left: 50%;
      margin: -1.3em 0 0 -2em;
    }
  }
}

@media #{$mqTabletWidth}{
  #hero {
    .item {
      min-height: 500px;
    }
  }
  
  #what-we-think {
    .top-line {
      &.white {
        margin-top: 0;
      }      
    }
  }
}

@media #{$mqDesktopWidth}{
  #hero {
    .wrap {
      width: 60%;
    }
  }
}