.sub-head

#hero {

  .item {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: 500px;
    width: 100%;
    background-color: $lightGray;


    p {
      font-size: 1.5rem;
      line-height: 2.5rem;
      margin-top: 10px;
      color: $darkGray;

      .cta {
        margin-bottom: -8px;
      }
    }
  }
}

#how-were-different {

  .item {

    margin-bottom: 80px;

    .number {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    h2 {
      margin-bottom: 40px;
    }

    p {
      color: $offWhite;
    }

  }

}