#hero {

  .item {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: 500px;
    width: 100%;
    background-color: $lightGray;

    h2 {
      width: 80%;
    }

    p {
      font-size: 1.5rem;
      line-height: 2.5rem;
      margin-top: 10px;
      color: $darkGray;

      .cta {
        margin-bottom: -8px;
      }
    }
  }
}

#how-were-different {

  .item {

    margin-bottom: 80px;

    .number {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    h2 {
      margin-bottom: 40px;
    }


  }

}

#how-we-do-it {
  padding-bottom: 60px;

  .number {
    margin-top: 30px;
    font-size: 24px;
  }
}

#who-we-are {
  .col {
    img {
      height: 220px;
    }

    h4 {
      margin-top: 1rem;
    }

    .role {
      font-size: 1.3rem;
      margin: 0 0 2rem;
    }
  }
}

#what-we-think {
  padding-bottom: 2rem;

  .by-line {
    margin: 25px 0 20px;
  }

  .plus {
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    display: block;
    background: url(/images/icon-plus.png) 0 0 no-repeat;
    background-size: cover;
  }
}

#who-we-toil-for {
  .client-logos {
    margin-bottom: 80px;
    img {
      width: 100%;
      max-width: 100%;
    }
  }
}

#our-studio {
  .video-holder {
    //padding-bottom: 4rem;
    video {
      display: block;
    }
    .vjs-big-play-button {
      top: 50%;
      left: 50%;
      margin: -1.3em 0 0 -2em;
    }
  }
}

#how-to-reach-us {
  p {
    font-size: 21px;
  }
}

@media #{$mqDesktopWidth}{
  #hero {
    .item {
      h2 {
        width: 60%;
      }
    }
  }
}