#site-header {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  border: none;
  background-color: #fff;
  height: $headerPhoneHeight;
  //box-shadow: 0 0 2px 1px rgba(0,0,0,.25);
  @include transition(background-color 200ms ease-in-out, transform 400ms ease-in-out);

  &.slide-down {
    @include transform(translateY(0))
  }

  &.slide-up {
    @include transform(translateY(-$headerPhoneHeight));
  }

  h1 {
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    margin: 13px 0 0;
    padding: 0;
    float: left;

    a {
      color: $lightGray;
    }
  }

  .main-nav-toggle {
    padding: $touchpointPadding;
    float: right;

    span {
      background: url(/images/icon-menu.png) 50% 50% no-repeat;
      display: block;
      width: 24px;
      height: 21px;
      background-size: contain;
      cursor: pointer;
    }
  }

  &.nav-open {

    background-color: $blue;
    box-shadow: none;

    h1 {
      a {
        color: #fff;
      }
    }

    .main-nav-toggle {
      span {
        background-image: url(/images/icon-close.png);
      }
    }
  }
}

#main-nav {

  position: fixed;
  z-index: 1000; //site-header is 1001
  width: 100%;
  height: 100%;
  padding-top: $headerPhoneHeight;
  top: -100%;
  left: 0;
  background: rgba(51,204,255,.95);
  //opacity: 0;
  @include transition(top 200ms ease-out);

  li {
    position: relative;
    padding: 10px 0;
    opacity: 0;
    @include translateY(-10px);
    @include transition(all 120ms ease-in-out 100ms);

    &:nth-child(2){
      @include transition-delay(110ms)
    }

    &:nth-child(3){
      @include transition-delay(120ms)
    }

    &:nth-child(4){
      @include transition-delay(130ms)
    }

    &:nth-child(5){
      @include transition-delay(140ms)
    }

    &:nth-child(6){
      @include transition-delay(150ms)
    }

    &:nth-child(7){
      @include transition-delay(160ms)
    }

    &:last-child {
      @extend .bottom-line;
      @include transition-delay(170ms);
    }
  }

  a {
    color: #fff;
    font-family: $sentinelStack;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;

    @include transition(color 100ms linear);

    &.active, &:hover {
      color: $defaultFontColor;
    }
  }

  &.open {
    top: 0;
    opacity: 1;

    li {
      opacity: 1;
      @include translateY(0);
    }
  }
}

@media #{$mqTabletWidth}{
  #site-header {
    height: $headerHeight;

    h1 {
      margin-top: 38px;
    }

    .main-nav-toggle {
      padding: 40px;
      margin-right: -40px;
    }

    &.slide-up {
      @include transform(translateY(-$headerHeight));
    }
  }

  #main-nav {
    padding-top: $headerHeight;

    li {
      padding: 15px 0;
    }

    a {
      font-size: 36px;
    }
  }

}