/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/reset";
@import "compass/css3/box-sizing";
@import "variables.scss";
@import "fonts.scss";

* {
  @include box-sizing(border-box);
}

body {
  font-family: $defaultStack;
  padding-top: $headerPhoneHeight;
  background-color: #f0f0f0;
}

h1 {
  font-family: $defaultStack;
  font-weight: normal;
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: $sentinelStack;
  font-style: italic;
  color: $blue;
}

h2 {
  font-size: 60px;
}

img {
  border: none;
}

a, a:hover {
  text-decoration: none;
}

@import "shared.scss";
@import "main-nav.scss";
@import "home.scss";


@media #{$mqTabletWidth}{
  body {
    padding-top: $headerHeight;
  }
}



.test {
  background-color: #0d3349;
  height: 600px;
  margin-bottom: 40px;
}