/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import
  "compass/utilities/general/clearfix",
  "compass/css3/transform",
  "compass/css3/transition",
  "compass/css3/box-sizing",
  "compass/reset",
  "variables.scss",
  "fonts.scss";

* {
  @include box-sizing(border-box);
}

html {
  font-size: 10px;
}

body {
  font-family: $defaultStack;
  padding-top: $headerPhoneHeight;
  background-color: $offWhite;
  color: $defaultFontColor;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-family: $defaultStack;
  font-weight: normal;
}

h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: $sentinelStack;
  font-style: italic;
  color: $blue;
  line-height: 1.3em;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

p {
  font-size: 1.2rem;
  line-height: 1.5em;
  margin: 1em 0;

  &.small {
    font-size: 1.5rem;
  }

  &.large {
    font-size: 1.5rem;
  }

  &.xlarge {
    font-size: 1.5rem;
  }
  
  &.strong {
    font-family: $strongStack;
  }
}

img {
  border: none;
  max-width: 100%;
}

a, .blue {
  text-decoration: none;
  color: $blue;
}

@import "shared.scss";
@import "owl-override.scss";
@import "main-nav.scss";
@import "box-grid.scss";
@import "home.scss";
@import "project.scss";


#site-footer {
  p {
    font-size: 1.5em;
  }

  .pull-up {
    margin-top: -20px;
  }
}

@media #{$mqTabletWidth}{
  html {
    font-size: 12px;
  }

  body {
    padding-top: $headerHeight;
  }

  p.small {
       font-size: 1.25rem;
  }
  p.large {
       font-size: 1.3rem;
  }

  h2 {
    font-size: 60px;

  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 24px;
  }

  #site-footer .pull-up {
    margin-top: 0;
  }
}