/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import
  "compass/utilities/general/clearfix",
  "compass/css3/transform",
  "compass/css3/transition",
  "compass/css3/box-sizing",
  "compass/reset",
  "variables.scss",
  "fonts.scss";

* {
  @include box-sizing(border-box);
}

html {
  font-size: 10px;
}

body {
  font-family: $defaultStack;
  padding-top: $headerPhoneHeight;
  background-color: $offWhite;
  color: $defaultFontColor;
}

h1 {
  font-family: $defaultStack;
  font-weight: normal;
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: $sentinelStack;
  font-style: italic;
  color: $blue;
}

h2 {
  font-size: 30px;
  line-height: 29px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

p {
  font-size: 1.2rem;
  margin: 1em 0;

  &.large {
    font-size: 1.3rem;
  }

  &.xlarge {
    font-size: 1.5rem;
  }
}

img {
  border: none;
  max-width: 100%;
}

a, a:hover {
  text-decoration: none;
}

@import "shared.scss";
@import "owl-override.scss";
@import "main-nav.scss";
@import "box-grid.scss";
@import "home.scss";


@media #{$mqTabletWidth}{
  html {
    font-size: 12px;
  }

  body {
    padding-top: $headerHeight;
  }

  h2 {
    font-size: 60px;
    line-height: 58px;
  }

  h3 {
    font-size: 30px;
  }
}