.project-page {
  padding: 3rem 0 4rem;

  .gallery {
    margin: 5rem 0;

    img {
      margin: 0 0 20px;
      max-width: 100%;
    }
  }
  
  .services {
    font-family: $strongStack;
    color: $blue;
  }
  
  .top-line {
    &.short {
      font-size: 1.6em;
    }
  }

}