.hidden {
  display: none;
}

.container {
  max-width: 1024px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
  overflow: hidden;
}

.circle {
  border-radius: 50%;
}

.border-line {
  content:"";
  background: $blue;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 24px;
}

.top-line {
  position: relative;
  padding-top: .5em;
  &:before {
    @extend .border-line;
  }
  &.short {
    &:before {
      width: 14px;
    }
  }
  &.white {
    &:before {
      background: $white;
    }
  }
  &.gray {
    &:before {
      background: $lightGray;
    }
  }
}

.bottom-line {
  &:after {
    @extend .border-line;
    background: $white;
    top: auto;
    bottom: 0;
  }
}

.cta {
  @extend .circle;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: $blue url(/images/arrow-forward.png) 55% 50% no-repeat;
  background-size: 11px 18px;
  margin-left: 15px;
}

.light-bg {
  background-color: $offWhite;
}

.medium-bg {
  background-color: $lightGray;
  color: #fff;
}

.dark-bg {
  background-color: $black;
  color: #ccc;
}

.vertical-pad {
  padding-top: 40px;
  padding-bottom: 40px;
}

.sub-head {
  font-size: 18px;
  padding-bottom: 6.5rem;

  a {
    text-decoration: underline;
    color: inherit;
  }
}

.view-all {
  float: right;
  font-size: 24px;
  padding-right: 35px;
  margin: 35px 15px;
  background: url(/images/icon-plus.png) right 50% no-repeat;
  background-size: 20px 20px;
  cursor: pointer;
}

.slide-down {
  overflow: hidden;
  height: 0;
  opacity: 0;
  @include transition(all 300ms ease-in);

  .row:first-child {
    margin-top: 0;
  }
}

.row {
  @include clearfix;

  .col {
    margin: 40px 0;

    h4, p {
      padding-right: 20px;
    }
  }
}

@media #{$mqTabletWidth}{
  .sub-head {
    font-size: 24px;
    line-height: 1.3em;
    padding-top: .8em;
  }

  .row {

    .col {
      float: left;
      margin-left: 2%;
      padding: 0;

      &:first-child {
        margin-left: 0;

      }
    }

    &.col-2 {
      .col {
        width: 49%;
      }
    }

    &.col-3 {
      .col {
        width: 32%;

        &.span-2 {
          width: 66%;
        }
      }
    }

    &.col-4 {
      .col {
        width: 23.5%;
      }
    }
  }
}