/* Colors */
$defaultFontColor: #59595c;
$blue: #33ccff;
$lightGray: #585858;
$darkGray: #231f20;
$black: #1f1f1f;
$white: #fff;
$offWhite: #f1f1f1;

/* Fonts */
$defaultStack: "Colfax Light", Helvetica, Arial, sans-serif;
$strongStack: "Colfax Medium", Helvetica, Arial, sans-serif;
$sentinelStack: "Sentinel SSm A", "Sentinel SSm B", Georgia, serif;


/* Dimensions */
$headerPhoneHeight: 50px;
$headerHeight: 100px;
$touchpointPadding: 15px;

/* Media Queries */
$mqPhoneLandscape: "only screen and (min-width: 400px) and (max-width: 569px)";
$mqSubTabletWidth: "only screen and (max-width: 569px)";
$mqTabletWidth: "only screen and (min-width: 570px)";
$mqDesktopWidth: "only screen and (min-width: 769px)";