/* Colors */
$defaultFontColor: #585858;
$blue: #33ccff;


/* Fonts */
$defaultStack: "Colfax Light", Helvetica, Arial, sans-serif;
$sentinelStack: "Sentinel", Georgia, serif;


/* Dimensions */
$headerHeight: 100px;