extends layout

block styles
    link(rel="stylesheet", href="/css/owl.carousel.css")

block content
    .home-page
        section#hero.no-pad
            .owl-carousel
                .item
                    .container.vertical-center

                        h2
                            | We help brands be
                            br
                            | their better selves.
                        p See how we’re helping Intuit share the love.
                            a.cta(href="/portfolio")

                .item
                    .container.vertical-center

                        h2
                            | We help brands be
                            br
                            | their better selves.
                        p See how we’re helping Intuit share the love.
                            a.cta(href="/portfolio")

                .item
                    .container.vertical-center

                        h2
                            | We help brands be
                            br
                            | their better selves.
                        p See how we’re helping Intuit share the love.
                            a.cta(href="/portfolio")

                .item
                    .container.vertical-center

                        h2
                            | We help brands be
                            br
                            | their better selves.
                        p See how we’re helping Intuit share the love.
                            a.cta(href="/portfolio")

                .item
                    .container.vertical-center

                        h2
                            | We help brands be
                            br
                            | their better selves.
                        p See how we’re helping Intuit share the love.
                            a.cta(href="/portfolio")

            .light-bg
                .container.row.col-3
                    .col
                        h4.top-line-gray You could say we’re just another branding firm.
                        p.large.
                            And you wouldn’t, technically, be wrong. We do work with
                            brands to create stories, experiences, and products that
                            are designed to make consumers in a noisy world sit up and take notice.

                    .col
                        h4.top-line-gray But that would only be half of the story.
                        p.large.
                            Because for us, branding isn’t just what you see from the outside.
                            It starts from what’s true on the inside. It’s everything your business
                            stands for&mdash;what you make, why you make it, and how.

                    .col
                        h4.top-line-gray See, we’re kind of like brand therapists.
                        p.large.
                            We help our clients look honestly at themselves (the good and the bad),
                            discover what makes them great, and then share that with the world in
                            a truthful way. Consumers certainly appreciate that.

        section#how-were-different.dark-bg(data-id="section-1")
            .container.row.col-3
                .col
                    h3.top-line How We're Different
                .col.span-2
                    .sub-head.top-line The not so secret secret to our secret sauce is our inability to leave well enough alone.
                    .owl-carousel
                        .item

        section.light-bg(data-id="what-we-do")
        section.dark-bg(data-id="how-we-do-it")
        section.light-bg(data-id="who-we-are")

block scripts
    script(src="/js/hash-poll.js")
    script(src="/js/owl.carousel.min.js")
    script(src="/js/home.js")