extends layout

block styles
    link(rel="stylesheet", href="/css/owl.carousel.css")

block content
    .home-page
        section#hero(data-id="how-were-different")
            .owl-carousel
                .item
                    .container.vertical-center

                        h2
                            | We help brands be
                            br
                            | their better selves.
                        p See how we’re helping Intuit share the love.
                            a.cta(href="/portfolio")

                .item
                    .container.vertical-center

                        h2
                            | We help brands be
                            br
                            | their better selves.
                        p See how we’re helping Intuit share the love.
                            a.cta(href="/portfolio")

                .item
                    .container.vertical-center

                        h2
                            | We help brands be
                            br
                            | their better selves.
                        p See how we’re helping Intuit share the love.
                            a.cta(href="/portfolio")

                .item
                    .container.vertical-center

                        h2
                            | We help brands be
                            br
                            | their better selves.
                        p See how we’re helping Intuit share the love.
                            a.cta(href="/portfolio")

                .item
                    .container.vertical-center

                        h2
                            | We help brands be
                            br
                            | their better selves.
                        p See how we’re helping Intuit share the love.
                            a.cta(href="/portfolio")

        section.test(data-id="what-we-do")
        section.test(data-id="how-we-do-it")
        section.test(data-id="who-we-are")

block scripts
    script(src="/js/hash-poll.js")
    script(src="/js/owl.carousel.min.js")
    script(src="/js/home.js")