doctype 5
//if lt IE 7
    <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
//if IE 7
    <html class="no-js lt-ie9 lt-ie8" lang="en">
//if IE 8
    <html class="no-js lt-ie9" lang="en">
<!--[if gt IE 8]><!-->
html(class='no-js', lang='en')
    <!--<![endif]-->
    head
        title= Sequitur

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description", content="Site Description goes here")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // Place favicon.ico and apple-touch-icon.png in the root directory

        link(rel="stylesheet", href="//cloud.typography.com/7019072/621522/css/fonts.css")
        link(rel="stylesheet", href="/css/video-js.min.css")
        link(rel='stylesheet', href='/css/main.css')

        block styles

        script(src="/js/modernizr.custom.js")
        script(src="/js/video.js")
        //[if lt IE 9]
            script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
            script(src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")

    body

        #site-header
            .container
                .main-nav-toggle
                    span
                h1
                    a(href="/") Sequitur.

        #main-nav
            ul.container
                li.top-line.white
                    a(href="/#section-1") How We're Different
                li.top-line.white
                    a(href="/#section-2") What We Do
                li.top-line.white
                    a(href="/#section-3") How We Do It
                li.top-line.white
                    a(href="/#section-4") Who We Are
                li.top-line.white
                    a(href="/#section-5") What We Think
                li.top-line.white
                    a(href="/#section-6") Who We Toil For
                li.top-line.white
                    a(href="/#section-7") Our Studio
                li.top-line.white
                    a(href="/#section-8") How to Reach Us

        block content

        section#site-footer.dark-bg(data-id="section-8")
          .container
            .row.col-3
              .col
                h3.top-line We Are Sequitur
              .col.span-2
                .sub-head.top-line And we'd love to get to know you better.
            .row.col-3
              .col
                p.top-line.short.
                  If you <a href="#">email</a> us, we'll email you back.
              .col
                p.top-line.short.
                  When motivated, we write at length on <a href="http://medium.com" target="_blank">Medium</a>.
              .col
                p.top-line.short.
                  We like drunken selfies on <a href="#" target="_blank">Facebook</a>.
            .row.col-3.pull-up
              .col
                p.top-line.short.
                  We stubbornly maintain a landline at <span class="blue">415.670.9735</span>.
              .col
                p.top-line.short.
                  If provoked, we tweet from <a href="#" target="_blank">@sequitur</a>.

        if (env == 'dev')
            script(src="/js/jquery-1.10.2.min.js")
            script(src="//localhost:35729/livereload.js")
        else
            script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")

        script(src="/js/headroom.min.js")
        script(src="/js/jquery.smooth-scroll.min.js")
        script(src="/js/main.js")
        script(src="/js/main-nav.js")

        block scripts