extends layout
block content
  .project-page
    .container
      h3.top-line Babeland
      p.small brand strategy, identity, environments, advertising

      .row.col-2
        .col
          h4.top-line.short Why They Called
          p.small.
            We were approached by the founders of the former Toys in
            Babeland (a women-owned purveyor of sex toys with stores
            in New York, Los Angeles and Seattle) and presented with
            a problem: how do you take what was once a thriving grass
            roots organization and transform it into a vibrant and distinctive
            lifestyle brand that speaks to modern consumers? Limited by an
            awkward name, a haphazard approach to marketing and way too
            strong an emphasis on product, the company had seen what had
            been a brilliant and beautiful re-imagination of retail turning
            a bit preachy, clinical and dull.
          p.large Hardly what you’d expect, huh?
        .col
          h4.top-line.short How We Responded
          p.small.
            Once we got over the shock (really, us?) we quickly got to work
            sussing out where and how things had gone south. But instead of
            nuking everything and starting over, we recommended a return to
            the original ideals that drove the company from day one. Working
            with folks from throughout the organization, we identified a few
            key attributes that, when amplified, could serve as the core of
            the new look and feel and voice. With those things in place, we
            set about developing a new identity system and extending it across
            everything from retail environments and packaging to advertising and the Web.
          p.large And good, clean fun was had by all.

      .gallery
        img(src="/images/project-hero-1.jpg")
        img(src="/images/project-hero-2.jpg")

      .more-projects
        h3.top-line More Projects
        .box-grid
          .row.col-3
            .col
              a.box(href="/project")
                .name Cliff Bar &amp; Company
                img(src="/images/project-fpo.jpg")
            .col
              a.box(href="/project")
                .name
                img(src="/images/project-fpo.jpg")
            .col
              a.box(href="/project")
                img(src="/images/project-fpo.jpg")
          .row.col-3.hidden
            .col
              a.box(href="/project")
                img(src="/images/project-fpo.jpg")
            .col
              a.box(href="/project")
                img(src="/images/project-fpo.jpg")
            .col
              a.box(href="/project")
                img(src="/images/project-fpo.jpg")
          .row.col-3.hidden
            .col
              a.box(href="/project")
                img(src="/images/project-fpo.jpg")
            .col
              a.box(href="/project")
                img(src="/images/project-fpo.jpg")
            .col
              a.box(href="/project")
                img(src="/images/project-fpo.jpg")

          .view-all View All Projects