.row.col-3.small-col-2
  .col
    a.box(href="/project")
      .name Clif Bar &amp; Company
      img(src="/images/Babeland_01.jpg")
  .col
    a.box(href="/project")
      .name Babeland
      img(src="/images/Babeland_02.jpg")
  .col
    a.box(href="/project")
      .name eBay
      img(src="/images/eBay_09.jpg")

  .col
    a.box(href="/project")
      .name eBay
      img(src="/images/eBay_11.jpg")
  .col
    a.box(href="/project")
      .name Clif Bar &amp; Company
      img(src="/images/Babeland_01.jpg")
  .col
    a.box(href="/project")
      .name Babeland
      img(src="/images/Babeland_02.jpg")

.slide-down
  .row.col-3.small-col-2
    .col
      a.box(href="/project")
        .name Clif Bar &amp; Company
        img(src="/images/Babeland_01.jpg")
    .col
      a.box(href="/project")
        .name Babeland
        img(src="/images/Babeland_02.jpg")
    .col
      a.box(href="/project")
        .name eBay
        img(src="/images/eBay_09.jpg")

    .col
      a.box(href="/project")
        .name eBay
        img(src="/images/eBay_11.jpg")
    .col
      a.box(href="/project")
        .name Clif Bar &amp; Company
        img(src="/images/Babeland_01.jpg")
    .col
      a.box(href="/project")
        .name Babeland
        img(src="/images/Babeland_02.jpg")