/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Colors */
/* Fonts */
/* Dimensions */
/* Media Queries */
/**
 * Colfax font
 * TODO: Change to actual Colfax webfont
**/
@font-face {
  font-family: "Colfax Light";
  src: url("/fonts/ColfaxWebLight.eot");
  src: url("/fonts/ColfaxWebLight.eot?iefix") format("eot"), url("/fonts/ColfaxWebLight.woff") format("woff");
}

@font-face {
  font-family: "Colfax Regular";
  src: url("/fonts/ColfaxWebRegular.eot");
  src: url("/fonts/ColfaxWebRegular.eot?iefix") format("eot"), url("/fonts/ColfaxWebRegular.woff") format("woff");
}

/* line 15, ../../scss/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../../scss/main.scss */
html {
  font-size: 10px;
}

/* line 23, ../../scss/main.scss */
body {
  font-family: "Colfax Light", Helvetica, Arial, sans-serif;
  padding-top: 50px;
  background-color: #f1f1f1;
  color: #59595c;
  -webkit-text-size-adjust: 100%;
}

/* line 31, ../../scss/main.scss */
h1 {
  font-family: "Colfax Light", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

/* line 36, ../../scss/main.scss */
h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: "Sentinel", Georgia, serif;
  font-style: italic;
  color: #33ccff;
  line-height: 1.3em;
}

/* line 44, ../../scss/main.scss */
h2 {
  font-size: 30px;
}

/* line 48, ../../scss/main.scss */
h3 {
  font-size: 24px;
}

/* line 52, ../../scss/main.scss */
h4 {
  font-size: 21px;
}

/* line 56, ../../scss/main.scss */
p {
  font-size: 1.2rem;
  line-height: 1.3em;
  margin: 1em 0;
}
/* line 61, ../../scss/main.scss */
p.small {
  font-size: 1.25rem;
}
/* line 65, ../../scss/main.scss */
p.large {
  font-size: 1.3rem;
}
/* line 69, ../../scss/main.scss */
p.xlarge {
  font-size: 1.5rem;
}

/* line 74, ../../scss/main.scss */
img {
  border: none;
  max-width: 100%;
}

/* line 79, ../../scss/main.scss */
a, .blue {
  text-decoration: none;
  color: #33ccff;
}

/* line 1, ../../scss/shared.scss */
.hidden {
  display: none;
}

/* line 5, ../../scss/shared.scss */
.no-scroll {
  overflow: hidden;
}

/* line 9, ../../scss/shared.scss */
.container {
  max-width: 1024px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
  overflow: hidden;
}

/* line 17, ../../scss/shared.scss */
.circle, .cta, .owl-controls .owl-buttons div, .owl-controls .owl-pagination .owl-page span {
  border-radius: 50%;
}

/* line 21, ../../scss/shared.scss */
.border-line, .top-line:before, .bottom-line:after, #main-nav li:last-child:after {
  content: "";
  background: #33ccff;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 24px;
}

/* line 31, ../../scss/shared.scss */
.top-line {
  position: relative;
  padding-top: .5em;
}
/* line 38, ../../scss/shared.scss */
.top-line.short:before {
  width: 14px;
}
/* line 43, ../../scss/shared.scss */
.top-line.white:before {
  background: white;
}
/* line 48, ../../scss/shared.scss */
.top-line.gray:before {
  background: #585858;
}

/* line 55, ../../scss/shared.scss */
.bottom-line:after, #main-nav li:last-child:after {
  background: white;
  top: auto;
  bottom: 0;
}

/* line 63, ../../scss/shared.scss */
.cta, .owl-controls .owl-buttons div {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #33ccff url(/images/arrow-forward.png) 55% 50% no-repeat;
  background-size: 11px 18px;
  margin-left: 15px;
}

/* line 74, ../../scss/shared.scss */
.light-bg {
  background-color: #f1f1f1;
}

/* line 78, ../../scss/shared.scss */
.medium-bg {
  background-color: #585858;
  color: #fff;
}

/* line 83, ../../scss/shared.scss */
.dark-bg {
  background-color: #1f1f1f;
  color: #ccc;
}

/* line 88, ../../scss/shared.scss */
.vertical-pad {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 93, ../../scss/shared.scss */
.sub-head {
  font-size: 18px;
  padding-bottom: 1rem;
}
/* line 97, ../../scss/shared.scss */
.sub-head a {
  text-decoration: underline;
  color: inherit;
}

/* line 105, ../../scss/shared.scss */
.row {
  overflow: hidden;
  *zoom: 1;
}
/* line 108, ../../scss/shared.scss */
.row .col {
  margin: 20px 0;
}
/* line 111, ../../scss/shared.scss */
.row .col h4, .row .col p {
  padding-right: 20px;
}

@media only screen and (max-width: 569px) {
  /* line 121, ../../scss/shared.scss */
  .box-grid .row.small-col-2 .col, .row.small-col-2 .col {
    float: left;
    margin-left: 2%;
    padding: 0;
    width: 49%;
  }
  /* line 127, ../../scss/shared.scss */
  .box-grid .row.small-col-2 .col:nth-child(odd), .row.small-col-2 .col:nth-child(odd) {
    margin-left: 0;
    clear: both;
  }
}
@media only screen and (min-width: 570px) {
  /* line 136, ../../scss/shared.scss */
  .sub-head {
    font-size: 24px;
    line-height: 1.3em;
    padding-top: .8em;
    padding-bottom: 6.5rem;
  }

  /* line 145, ../../scss/shared.scss */
  .row .col {
    margin: 40px 0;
    float: left;
    margin-left: 2%;
    padding: 0;
  }
  /* line 153, ../../scss/shared.scss */
  .row.col-2 .col {
    width: 49%;
  }
  /* line 156, ../../scss/shared.scss */
  .row.col-2 .col:nth-child(odd) {
    margin-left: 0;
    clear: both;
  }
  /* line 164, ../../scss/shared.scss */
  .row.col-3 .col {
    width: 32%;
  }
  /* line 167, ../../scss/shared.scss */
  .row.col-3 .col.span-2 {
    width: 66%;
  }
  /* line 171, ../../scss/shared.scss */
  .row.col-3 .col:nth-child(3n + 1) {
    margin-left: 0;
    clear: both;
  }
  /* line 179, ../../scss/shared.scss */
  .row.col-4 .col {
    width: 23.5%;
  }
  /* line 182, ../../scss/shared.scss */
  .row.col-4 .col:nth-child(4n + 1) {
    margin-left: 0;
    clear: both;
  }
}
/* line 3, ../../scss/owl-override.scss */
.owl-controls .owl-pagination {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}
/* line 9, ../../scss/owl-override.scss */
.owl-controls .owl-pagination .owl-page {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 7.5px;
  font-size: 0;
}
/* line 17, ../../scss/owl-override.scss */
.owl-controls .owl-pagination .owl-page span {
  width: 15px;
  height: 15px;
  display: block;
  background-color: white;
  -webkit-transition: background-color 400ms ease-in-out;
  -moz-transition: background-color 400ms ease-in-out;
  -o-transition: background-color 400ms ease-in-out;
  transition: background-color 400ms ease-in-out;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
/* line 28, ../../scss/owl-override.scss */
.owl-controls .owl-pagination .owl-page.active span {
  background-color: #33ccff;
}
/* line 35, ../../scss/owl-override.scss */
.owl-controls .owl-buttons {
  width: 50%;
  padding-bottom: 40px;
}
/* line 39, ../../scss/owl-override.scss */
.owl-controls .owl-buttons div {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: transparent;
  border: 2px solid white;
  float: left;
  margin: 0;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
/* line 51, ../../scss/owl-override.scss */
.owl-controls .owl-buttons div:hover:not(.disabled) {
  -webkit-transform: scale3d(1.05, 1.05, 1);
  -moz-transform: scale3d(1.05, 1.05, 1);
  -ms-transform: scale3d(1.05, 1.05, 1);
  -o-transform: scale3d(1.05, 1.05, 1);
  transform: scale3d(1.05, 1.05, 1);
}
/* line 55, ../../scss/owl-override.scss */
.owl-controls .owl-buttons div.owl-next {
  float: right;
}
/* line 59, ../../scss/owl-override.scss */
.owl-controls .owl-buttons div.owl-prev {
  background-image: url(/images/arrow-back.png);
  background-position: 45% 50%;
}
/* line 64, ../../scss/owl-override.scss */
.owl-controls .owl-buttons div.disabled {
  opacity: .5;
  cursor: default;
}

/* line 1, ../../scss/main-nav.scss */
#site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  border: none;
  background-color: #fff;
  height: 50px;
  -webkit-transition: background-color 200ms ease-in-out, -webkit-transform 400ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out, -moz-transform 400ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out, -o-transform 400ms ease-in-out;
  transition: background-color 200ms ease-in-out, transform 400ms ease-in-out;
}
/* line 14, ../../scss/main-nav.scss */
#site-header.slide-down {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
/* line 18, ../../scss/main-nav.scss */
#site-header.slide-up {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
}
/* line 22, ../../scss/main-nav.scss */
#site-header h1 {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin: 13px 0 0;
  padding: 0;
  float: left;
}
/* line 30, ../../scss/main-nav.scss */
#site-header h1 a {
  color: #585858;
}
/* line 35, ../../scss/main-nav.scss */
#site-header .main-nav-toggle {
  padding: 15px;
  float: right;
}
/* line 39, ../../scss/main-nav.scss */
#site-header .main-nav-toggle span {
  background: url(/images/icon-menu.png) 50% 50% no-repeat;
  display: block;
  width: 24px;
  height: 21px;
  background-size: contain;
  cursor: pointer;
}
/* line 49, ../../scss/main-nav.scss */
#site-header.nav-open {
  background-color: #33ccff;
  box-shadow: none;
}
/* line 55, ../../scss/main-nav.scss */
#site-header.nav-open h1 a {
  color: #fff;
}
/* line 61, ../../scss/main-nav.scss */
#site-header.nav-open .main-nav-toggle span {
  background-image: url(/images/icon-close.png);
}

/* line 68, ../../scss/main-nav.scss */
#main-nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  top: -100%;
  left: 0;
  background: rgba(51, 204, 255, 0.95);
  -webkit-transition: top 200ms ease-out;
  -moz-transition: top 200ms ease-out;
  -o-transition: top 200ms ease-out;
  transition: top 200ms ease-out;
}
/* line 81, ../../scss/main-nav.scss */
#main-nav li {
  position: relative;
  padding: 10px 0;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: all 120ms ease-in-out;
  -webkit-transition-delay: 100ms;
  -moz-transition: all 120ms ease-in-out 100ms;
  -o-transition: all 120ms ease-in-out 100ms;
  transition: all 120ms ease-in-out 100ms;
}
/* line 88, ../../scss/main-nav.scss */
#main-nav li:nth-child(2) {
  -webkit-transition-delay: 110ms;
  -moz-transition-delay: 110ms;
  -o-transition-delay: 110ms;
  transition-delay: 110ms;
}
/* line 92, ../../scss/main-nav.scss */
#main-nav li:nth-child(3) {
  -webkit-transition-delay: 120ms;
  -moz-transition-delay: 120ms;
  -o-transition-delay: 120ms;
  transition-delay: 120ms;
}
/* line 96, ../../scss/main-nav.scss */
#main-nav li:nth-child(4) {
  -webkit-transition-delay: 130ms;
  -moz-transition-delay: 130ms;
  -o-transition-delay: 130ms;
  transition-delay: 130ms;
}
/* line 100, ../../scss/main-nav.scss */
#main-nav li:nth-child(5) {
  -webkit-transition-delay: 140ms;
  -moz-transition-delay: 140ms;
  -o-transition-delay: 140ms;
  transition-delay: 140ms;
}
/* line 104, ../../scss/main-nav.scss */
#main-nav li:nth-child(6) {
  -webkit-transition-delay: 150ms;
  -moz-transition-delay: 150ms;
  -o-transition-delay: 150ms;
  transition-delay: 150ms;
}
/* line 108, ../../scss/main-nav.scss */
#main-nav li:nth-child(7) {
  -webkit-transition-delay: 160ms;
  -moz-transition-delay: 160ms;
  -o-transition-delay: 160ms;
  transition-delay: 160ms;
}
/* line 112, ../../scss/main-nav.scss */
#main-nav li:last-child {
  -webkit-transition-delay: 170ms;
  -moz-transition-delay: 170ms;
  -o-transition-delay: 170ms;
  transition-delay: 170ms;
}
/* line 118, ../../scss/main-nav.scss */
#main-nav a {
  color: #fff;
  font-family: "Sentinel", Georgia, serif;
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: color 100ms linear;
  -moz-transition: color 100ms linear;
  -o-transition: color 100ms linear;
  transition: color 100ms linear;
}
/* line 127, ../../scss/main-nav.scss */
#main-nav a.active, #main-nav a:hover {
  color: #59595c;
}
/* line 132, ../../scss/main-nav.scss */
#main-nav.open {
  top: 0;
  opacity: 1;
}
/* line 136, ../../scss/main-nav.scss */
#main-nav.open li {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

@media only screen and (min-width: 570px) {
  /* line 144, ../../scss/main-nav.scss */
  #site-header {
    height: 100px;
  }
  /* line 147, ../../scss/main-nav.scss */
  #site-header h1 {
    margin-top: 38px;
  }
  /* line 151, ../../scss/main-nav.scss */
  #site-header .main-nav-toggle {
    padding: 40px;
    margin-right: -40px;
  }
  /* line 156, ../../scss/main-nav.scss */
  #site-header.slide-up {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  /* line 161, ../../scss/main-nav.scss */
  #main-nav {
    padding-top: 100px;
  }
  /* line 164, ../../scss/main-nav.scss */
  #main-nav li {
    padding: 15px 0;
  }
  /* line 168, ../../scss/main-nav.scss */
  #main-nav a {
    font-size: 36px;
  }
}
/* line 1, ../../scss/box-grid.scss */
.box-grid {
  position: relative;
}
/* line 6, ../../scss/box-grid.scss */
.box-grid .row .col {
  margin: 2% 0 0 2%;
  position: relative;
}
/* line 9, ../../scss/box-grid.scss */
.box-grid .row .col .box {
  display: block;
  position: relative;
  overflow: hidden;
}
/* line 14, ../../scss/box-grid.scss */
.box-grid .row .col .box img {
  display: block;
}
/* line 22, ../../scss/box-grid.scss */
.box-grid .name {
  position: absolute;
  color: #59595c;
  top: 2rem;
  font-size: 1.5rem;
  padding: 1.5rem 4rem 1.5rem 1.5rem;
  background-color: rgba(51, 204, 255, 0.9);
}
/* line 31, ../../scss/box-grid.scss */
.box-grid .showcase {
  width: 100%;
  position: relative;
  overflow: hidden;
}
/* line 35, ../../scss/box-grid.scss */
.box-grid .showcase .name {
  top: 4.5rem;
  font-size: 2rem;
  padding: 1.75rem 12rem 1.75rem 2rem;
}
/* line 42, ../../scss/box-grid.scss */
.box-grid .view-all {
  float: right;
  font-size: 24px;
  padding-right: 35px;
  margin: 35px 15px;
  background: url(/images/icon-plus.png) right 50% no-repeat;
  background-size: 20px 20px;
  cursor: pointer;
}
/* line 52, ../../scss/box-grid.scss */
.box-grid .slide-down {
  overflow: hidden;
  height: 0;
  opacity: 0;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
/* line 58, ../../scss/box-grid.scss */
.box-grid .slide-down .row:first-child {
  margin-top: 0;
}

/* line 67, ../../scss/box-grid.scss */
.no-touch .box-grid .name {
  left: -100%;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
/* line 74, ../../scss/box-grid.scss */
.no-touch .box-grid .box:hover .name {
  left: 0;
  opacity: 1;
}

@media only screen and (min-width: 570px) {
  /* line 88, ../../scss/box-grid.scss */
  .box-grid .row .col {
    padding: 0;
  }
  /* line 93, ../../scss/box-grid.scss */
  .box-grid .row.col-3 .col {
    width: 32%;
  }
  /* line 96, ../../scss/box-grid.scss */
  .box-grid .row.col-3 .col.span-2 {
    width: 66%;
  }
  /* line 103, ../../scss/box-grid.scss */
  .box-grid .row.col-4 .col {
    width: 23.5%;
  }
}
/* line 3, ../../scss/home.scss */
#hero .item {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 300px;
  width: 100%;
  background-color: #585858;
}
/* line 11, ../../scss/home.scss */
#hero .item h2 {
  width: 80%;
}
/* line 15, ../../scss/home.scss */
#hero .item p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-top: 10px;
  color: #231f20;
}
/* line 21, ../../scss/home.scss */
#hero .item p .cta, #hero .item p .owl-controls .owl-buttons div, .owl-controls .owl-buttons #hero .item p div {
  margin-bottom: -8px;
}

/* line 30, ../../scss/home.scss */
#how-were-different .item {
  margin-bottom: 80px;
}
/* line 34, ../../scss/home.scss */
#how-were-different .item .number {
  font-size: 3rem;
  margin-bottom: 1rem;
}
/* line 39, ../../scss/home.scss */
#how-were-different .item h2 {
  margin-bottom: 40px;
}

/* line 46, ../../scss/home.scss */
#what-we-do {
  padding-bottom: 3rem;
}

/* line 50, ../../scss/home.scss */
#how-we-do-it {
  padding-bottom: 60px;
}
/* line 53, ../../scss/home.scss */
#how-we-do-it .number {
  margin-top: 30px;
  font-size: 24px;
}

/* line 61, ../../scss/home.scss */
#who-we-are .col img {
  height: 220px;
}
/* line 65, ../../scss/home.scss */
#who-we-are .col h4 {
  margin-top: 1rem;
}
/* line 69, ../../scss/home.scss */
#who-we-are .col .role {
  font-size: 1.3rem;
  margin: 0 0 2rem;
}

/* line 76, ../../scss/home.scss */
#what-we-think {
  padding-bottom: 2rem;
}
/* line 79, ../../scss/home.scss */
#what-we-think .by-line {
  margin: 25px 0 20px;
}
/* line 83, ../../scss/home.scss */
#what-we-think .plus {
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  display: block;
  background: url(/images/icon-plus.png) 0 0 no-repeat;
  background-size: cover;
}

/* line 94, ../../scss/home.scss */
#who-we-toil-for .client-logos {
  margin-bottom: 80px;
}
/* line 96, ../../scss/home.scss */
#who-we-toil-for .client-logos img {
  width: 100%;
  max-width: 100%;
}

/* line 103, ../../scss/home.scss */
#our-studio {
  position: relative;
}
/* line 106, ../../scss/home.scss */
#our-studio .video-holder {
  display: none;
}
/* line 110, ../../scss/home.scss */
#our-studio .container {
  position: absolute;
  z-index: 2;
}
/* line 115, ../../scss/home.scss */
#our-studio .blocker {
  position: absolute;
  z-index: 1;
  background: rgba(51, 51, 51, 0.4);
  height: 100%;
  width: 100%;
  top: 0;
}

/* line 128, ../../scss/home.scss */
.no-touch #our-studio .static-image-holder {
  display: none;
}
/* line 132, ../../scss/home.scss */
.no-touch #our-studio .video-holder {
  display: block;
}
/* line 135, ../../scss/home.scss */
.no-touch #our-studio .video-holder video {
  display: block;
}
/* line 138, ../../scss/home.scss */
.no-touch #our-studio .video-holder .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin: -1.3em 0 0 -2em;
}

@media only screen and (min-width: 570px) {
  /* line 148, ../../scss/home.scss */
  #hero .item {
    min-height: 500px;
  }
}
@media only screen and (min-width: 769px) {
  /* line 157, ../../scss/home.scss */
  #hero .item h2 {
    width: 60%;
  }
}
/* line 1, ../../scss/project.scss */
.project-page {
  padding: 3rem 0 4rem;
}
/* line 4, ../../scss/project.scss */
.project-page .gallery {
  margin: 5rem 0;
}
/* line 7, ../../scss/project.scss */
.project-page .gallery img {
  margin: 0 0 20px;
  max-width: 100%;
}

/* line 93, ../../scss/main.scss */
#site-footer p {
  font-size: 21px;
}
/* line 97, ../../scss/main.scss */
#site-footer .pull-up {
  margin-top: -20px;
}

@media only screen and (min-width: 570px) {
  /* line 103, ../../scss/main.scss */
  html {
    font-size: 12px;
  }

  /* line 107, ../../scss/main.scss */
  body {
    padding-top: 100px;
  }

  /* line 111, ../../scss/main.scss */
  h2 {
    font-size: 60px;
  }

  /* line 116, ../../scss/main.scss */
  h3 {
    font-size: 30px;
  }

  /* line 120, ../../scss/main.scss */
  h4 {
    font-size: 24px;
  }

  /* line 124, ../../scss/main.scss */
  #site-footer .pull-up {
    margin-top: 0;
  }
}
