/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Colors */
/* Fonts */
/* Dimensions */
/* Media Queries */
/**
 * Colfax font
 * TODO: Change to actual Colfax webfont
**/
@font-face {
  font-family: "Colfax Light";
  src: local("Chrono-Light");
}

@font-face {
  font-family: "Colfax Light";
  src: local("Chrono-LightItalic");
  font-style: italic;
}

@font-face {
  font-family: "Colfax Light";
  src: local("Chrono-Book");
  font-weight: bold;
}

@font-face {
  font-family: "Colfax Light";
  src: local("Chrono-BookItalic");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Colfax Regular";
  src: local("Chrono-Regular");
}

/**
 * Sentinel font
 * TODO: Change to actual Sentinel webfont
**/
@font-face {
  font-family: "Sentinel";
  src: local("Sentinel-Black");
}

@font-face {
  font-family: "Sentinel";
  src: local("Sentinel-BlackItalic");
  font-style: italic;
}

/* line 15, ../../scss/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../../scss/main.scss */
html {
  font-size: 10px;
}

/* line 23, ../../scss/main.scss */
body {
  font-family: "Colfax Light", Helvetica, Arial, sans-serif;
  padding-top: 50px;
  background-color: #f1f1f1;
  color: #59595c;
}

/* line 30, ../../scss/main.scss */
h1 {
  font-family: "Colfax Light", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

/* line 35, ../../scss/main.scss */
h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Sentinel", Georgia, serif;
  font-style: italic;
  color: #33ccff;
}

/* line 42, ../../scss/main.scss */
h2 {
  font-size: 30px;
  line-height: 29px;
}

/* line 47, ../../scss/main.scss */
h3 {
  font-size: 24px;
}

/* line 51, ../../scss/main.scss */
h4 {
  font-size: 21px;
}

/* line 55, ../../scss/main.scss */
p {
  font-size: 1.2rem;
  margin: 1em 0;
}
/* line 59, ../../scss/main.scss */
p.large {
  font-size: 1.3rem;
}
/* line 63, ../../scss/main.scss */
p.xlarge {
  font-size: 1.5rem;
}

/* line 68, ../../scss/main.scss */
img {
  border: none;
}

/* line 72, ../../scss/main.scss */
a, a:hover {
  text-decoration: none;
}

/* line 1, ../../scss/shared.scss */
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
  overflow: hidden;
}

/* line 9, ../../scss/shared.scss */
.circle, .cta, .owl-controls .owl-buttons div, .owl-controls .owl-pagination .owl-page span {
  border-radius: 50%;
}

/* line 13, ../../scss/shared.scss */
.border-line, .top-line:before, .top-line-white:before, #main-nav li:before, .top-line-gray:before, .bottom-line:after, #main-nav li:last-child:after {
  content: "";
  background: #33ccff;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 24px;
}

/* line 23, ../../scss/shared.scss */
.top-line, .top-line-white, #main-nav li, .top-line-gray {
  position: relative;
  padding-top: .5em;
}

/* line 33, ../../scss/shared.scss */
.top-line-white:before, #main-nav li:before {
  background: white;
}

/* line 40, ../../scss/shared.scss */
.top-line-gray:before {
  background: #585858;
}

/* line 46, ../../scss/shared.scss */
.bottom-line:after, #main-nav li:last-child:after {
  background: white;
  top: auto;
  bottom: 0;
}

/* line 54, ../../scss/shared.scss */
.cta, .owl-controls .owl-buttons div {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #33ccff url(/images/arrow-forward.png) 55% 50% no-repeat;
  background-size: 11px 18px;
  margin-left: 15px;
}

/* line 65, ../../scss/shared.scss */
.light-bg {
  background-color: #f1f1f1;
}

/* line 69, ../../scss/shared.scss */
.medium-bg {
  background-color: #585858;
  color: #fff;
}

/* line 74, ../../scss/shared.scss */
.dark-bg {
  background-color: #1f1f1f;
  color: #fff;
}

/* line 79, ../../scss/shared.scss */
.vertical-pad {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 84, ../../scss/shared.scss */
.sub-head {
  font-size: 18px;
  margin-bottom: 10rem;
}

/* line 89, ../../scss/shared.scss */
.row {
  overflow: hidden;
  *zoom: 1;
}
/* line 92, ../../scss/shared.scss */
.row .col {
  margin: 40px 0;
}

@media only screen and (min-width: 570px) {
  /* line 98, ../../scss/shared.scss */
  .sub-head {
    font-size: 24px;
  }

  /* line 104, ../../scss/shared.scss */
  .row .col {
    float: left;
    padding-left: 40px;
  }
  /* line 108, ../../scss/shared.scss */
  .row .col:first-child {
    padding-left: 0;
  }
  /* line 112, ../../scss/shared.scss */
  .row .col :last-child {
    margin-bottom: 0;
  }
  /* line 118, ../../scss/shared.scss */
  .row.col-2 .col {
    width: 50%;
  }
  /* line 124, ../../scss/shared.scss */
  .row.col-3 .col {
    width: 33%;
  }
  /* line 127, ../../scss/shared.scss */
  .row.col-3 .col:last-child {
    float: right;
  }
  /* line 131, ../../scss/shared.scss */
  .row.col-3 .col.span-2 {
    width: 67%;
  }
  /* line 138, ../../scss/shared.scss */
  .row.col-4 .col {
    width: 25%;
  }
  /* line 141, ../../scss/shared.scss */
  .row.col-4 .col.span-2 {
    width: 50%;
  }
  /* line 145, ../../scss/shared.scss */
  .row.col-4 .col.span-3 {
    width: 75%;
  }
}
/* line 3, ../../scss/owl-override.scss */
.owl-controls .owl-pagination {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}
/* line 9, ../../scss/owl-override.scss */
.owl-controls .owl-pagination .owl-page {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 7.5px;
  font-size: 0;
}
/* line 17, ../../scss/owl-override.scss */
.owl-controls .owl-pagination .owl-page span {
  width: 15px;
  height: 15px;
  display: block;
  background-color: white;
  -webkit-transition: background-color 400ms ease-in-out;
  -moz-transition: background-color 400ms ease-in-out;
  -o-transition: background-color 400ms ease-in-out;
  transition: background-color 400ms ease-in-out;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
/* line 28, ../../scss/owl-override.scss */
.owl-controls .owl-pagination .owl-page.active span {
  background-color: #33ccff;
}
/* line 35, ../../scss/owl-override.scss */
.owl-controls .owl-buttons {
  width: 50%;
}
/* line 38, ../../scss/owl-override.scss */
.owl-controls .owl-buttons div {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: transparent;
  border: 2px solid white;
  float: left;
  margin: 0;
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}
/* line 49, ../../scss/owl-override.scss */
.owl-controls .owl-buttons div.owl-next {
  float: right;
}
/* line 53, ../../scss/owl-override.scss */
.owl-controls .owl-buttons div.owl-prev {
  background-image: url(/images/arrow-back.png);
  background-position: 45% 50%;
}
/* line 58, ../../scss/owl-override.scss */
.owl-controls .owl-buttons div.disabled {
  opacity: .5;
  cursor: default;
}

/* line 1, ../../scss/main-nav.scss */
#site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  border: none;
  background-color: #fff;
  height: 50px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 100ms ease-in-out;
  -moz-transition: background-color 100ms ease-in-out;
  -o-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
}
/* line 14, ../../scss/main-nav.scss */
#site-header h1 {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin: 13px 0 0;
  padding: 0;
  float: left;
}
/* line 22, ../../scss/main-nav.scss */
#site-header h1 a {
  color: #585858;
}
/* line 27, ../../scss/main-nav.scss */
#site-header .main-nav-toggle {
  padding: 15px;
  float: right;
}
/* line 31, ../../scss/main-nav.scss */
#site-header .main-nav-toggle span {
  background: url(/images/icon-menu.png) 50% 50% no-repeat;
  display: block;
  width: 24px;
  height: 21px;
  background-size: contain;
  cursor: pointer;
}
/* line 41, ../../scss/main-nav.scss */
#site-header.nav-open {
  background-color: #33ccff;
  box-shadow: none;
}
/* line 47, ../../scss/main-nav.scss */
#site-header.nav-open h1 a {
  color: #fff;
}
/* line 53, ../../scss/main-nav.scss */
#site-header.nav-open .main-nav-toggle span {
  background-image: url(/images/icon-close.png);
}

/* line 60, ../../scss/main-nav.scss */
#main-nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  top: -100%;
  left: 0;
  background: rgba(51, 204, 255, 0.95);
  -webkit-transition: top 100ms ease-out;
  -moz-transition: top 100ms ease-out;
  -o-transition: top 100ms ease-out;
  transition: top 100ms ease-out;
}
/* line 73, ../../scss/main-nav.scss */
#main-nav li {
  position: relative;
  padding: 10px 0;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: all 120ms ease-in-out;
  -webkit-transition-delay: 100ms;
  -moz-transition: all 120ms ease-in-out 100ms;
  -o-transition: all 120ms ease-in-out 100ms;
  transition: all 120ms ease-in-out 100ms;
}
/* line 82, ../../scss/main-nav.scss */
#main-nav li:nth-child(2) {
  -webkit-transition-delay: 110ms;
  -moz-transition-delay: 110ms;
  -o-transition-delay: 110ms;
  transition-delay: 110ms;
}
/* line 86, ../../scss/main-nav.scss */
#main-nav li:nth-child(3) {
  -webkit-transition-delay: 120ms;
  -moz-transition-delay: 120ms;
  -o-transition-delay: 120ms;
  transition-delay: 120ms;
}
/* line 90, ../../scss/main-nav.scss */
#main-nav li:nth-child(4) {
  -webkit-transition-delay: 130ms;
  -moz-transition-delay: 130ms;
  -o-transition-delay: 130ms;
  transition-delay: 130ms;
}
/* line 94, ../../scss/main-nav.scss */
#main-nav li:nth-child(5) {
  -webkit-transition-delay: 140ms;
  -moz-transition-delay: 140ms;
  -o-transition-delay: 140ms;
  transition-delay: 140ms;
}
/* line 98, ../../scss/main-nav.scss */
#main-nav li:nth-child(6) {
  -webkit-transition-delay: 150ms;
  -moz-transition-delay: 150ms;
  -o-transition-delay: 150ms;
  transition-delay: 150ms;
}
/* line 102, ../../scss/main-nav.scss */
#main-nav li:nth-child(7) {
  -webkit-transition-delay: 160ms;
  -moz-transition-delay: 160ms;
  -o-transition-delay: 160ms;
  transition-delay: 160ms;
}
/* line 106, ../../scss/main-nav.scss */
#main-nav li:last-child {
  -webkit-transition-delay: 170ms;
  -moz-transition-delay: 170ms;
  -o-transition-delay: 170ms;
  transition-delay: 170ms;
}
/* line 112, ../../scss/main-nav.scss */
#main-nav a {
  color: #fff;
  font-family: "Sentinel", Georgia, serif;
  font-style: italic;
  font-size: 18px;
  -webkit-transition: color 100ms linear;
  -moz-transition: color 100ms linear;
  -o-transition: color 100ms linear;
  transition: color 100ms linear;
}
/* line 120, ../../scss/main-nav.scss */
#main-nav a.active, #main-nav a:hover {
  color: #59595c;
}
/* line 125, ../../scss/main-nav.scss */
#main-nav.open {
  top: 0;
  opacity: 1;
}
/* line 129, ../../scss/main-nav.scss */
#main-nav.open li {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

@media only screen and (min-width: 570px) {
  /* line 137, ../../scss/main-nav.scss */
  #site-header {
    height: 100px;
  }
  /* line 140, ../../scss/main-nav.scss */
  #site-header h1 {
    margin-top: 46px;
  }
  /* line 144, ../../scss/main-nav.scss */
  #site-header .main-nav-toggle {
    margin-top: 50px;
    padding: 0;
  }

  /* line 150, ../../scss/main-nav.scss */
  #main-nav {
    padding-top: 100px;
  }
  /* line 153, ../../scss/main-nav.scss */
  #main-nav li {
    padding: 15px 0;
  }
  /* line 157, ../../scss/main-nav.scss */
  #main-nav a {
    font-size: 36px;
  }
}
/* line 5, ../../scss/home.scss */
.sub-head
#hero .item {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 500px;
  width: 100%;
  background-color: #585858;
}
/* line 14, ../../scss/home.scss */
.sub-head
#hero .item p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-top: 10px;
  color: #231f20;
}
/* line 20, ../../scss/home.scss */
.sub-head
#hero .item p .cta, .sub-head
#hero .item p .owl-controls .owl-buttons div, .owl-controls .owl-buttons .sub-head
#hero .item p div {
  margin-bottom: -8px;
}

/* line 29, ../../scss/home.scss */
#how-were-different .item {
  margin-bottom: 80px;
}
/* line 33, ../../scss/home.scss */
#how-were-different .item .number {
  font-size: 3rem;
  margin-bottom: 1rem;
}
/* line 38, ../../scss/home.scss */
#how-were-different .item h2 {
  margin-bottom: 40px;
}
/* line 42, ../../scss/home.scss */
#how-were-different .item p {
  color: #f1f1f1;
}

@media only screen and (min-width: 570px) {
  /* line 83, ../../scss/main.scss */
  html {
    font-size: 12px;
  }

  /* line 87, ../../scss/main.scss */
  body {
    padding-top: 100px;
  }

  /* line 91, ../../scss/main.scss */
  h2 {
    font-size: 60px;
    line-height: 58px;
  }

  /* line 96, ../../scss/main.scss */
  h3 {
    font-size: 30px;
  }
}
